html {
    background: url("../images/3824logo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.buttonBack {
    background-color: #7722cc;
    float: left;
    border: 1px solid black;
    margin: 0 auto;
    color: white;
    padding: 1.5% 2%;
    text-align: center;
    text-decoration: none;
    align-content: center;
    font-size: 100%;
    margin: .5% .25%;
    cursor: pointer;
}

#load {
    color: rgb(255, 255, 255);
    font-size: 15px;
    position: absolute;
    top: 90%;
    left: 45%;
}

.btn-group .button {
    background-color: #7722cc;
    float: left;
    border: 1px solid black;
    margin: 0 auto;
    color: white;
    padding: 1.5% 2%;
    text-align: center;
    text-decoration: none;
    align-content: center;
    font-size: 100%;
    margin: .5% .25%;
    cursor: pointer;
}

.button:hover {
    background-color: #aaaaff;
}

h1 {
    color: #ffffff;
    font-size: 275%;
    padding-left: 1%;
    padding-top: 1%;
    margin: 0%;
}

h2 {
    color: white;
    padding-bottom: 0%;
    padding: 0%;
    margin: 0%;
    font-size: 175%;
}

.pitScout {
    text-align: center;
}

.pitText {
    padding: 0%;
    font-size: 200%;
    margin-bottom: 4%;
}

.submit {
    background-color: #7722cc;
    float: center;
    border: 1px solid black;
    margin: 0 auto;
    color: white;
    padding: 1.5% 2%;
    text-align: center;
    text-decoration: none;
    align-content: center;
    font-size: 150%;
    margin: .5% .25%;
    cursor: pointer;
}

