html {
    background: url("../images/3824logo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.button1 {
    font-size: 100%;
    position: absolute;
    float:center;
    top: 4.20%;
    left: 30%;
}

.button2 {
    font-size: 100%;
    position: absolute;
    top: 4.20%;
    left: 38.44%;
}

.button3 {
    font-size: 100%;
    position: absolute;
    top: 4.20%;
    left: 50%;
}

.button4 {
    font-size: 100%;
    position: absolute;
    top: 4.20%;
    left: 59.85%;
}

.buttonBack {
    background-color: rebeccapurple;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    align-content: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#message {
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
}

#message h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgb(241, 241, 241);
    margin: 0 0 16px;
}

#message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

#message a {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

#message,
#message a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgb(250, 250, 250);
}

#load {
    color: rgb(255, 255, 255);
    font-size: 15px;
    position: absolute;
    top: 90%;
    left: 45%;
}

.btn-group .button {
    background-color: rebeccapurple;
    border: 1px solid black;
    margin: 0 auto;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    align-content: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 45%;
}

button:hover {
    background-color: darkblue;
}

