html {
    background: url("../images/Background.png") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: auto;
    font-family: Ubuntu !important;
    overflow: hidden;
}

body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    padding: 0;
    font-size: 3vh;
    text-align: center;
    font-family: Ubuntu;
}

div {
    display: inline-block;
}

form {
    display: inline;
}

.loadingsdk {
    position: relative;
}

.divsdk {
    width: 80%;
    margin-left: 10%;
    margin-right: 20%;
}

.tablediv {
    width: 25%;
    float: left;
    color: white;
    font-size: 2vh;
}

.matchDataTable {
    color: white;
    background-color: blue;
}

#load {
    color: white;
    bottom: 0;
    position: fixed;
    width: 80%;
}

button {
    /*background-color: #3824cc;*/
    border-radius: 10px;
    border-width: 0px;
    margin: 0 auto;
    color: white;
    padding: 1.5% 2%;
    font-size: 2.16vw;
    margin: .5% .25%;
    cursor: pointer;
    font-family: Ubuntu !important;
    background-image: linear-gradient(#5B5A56, #41403B);
}

.backBtn {
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-right: 100%;
}

.matchBtn {
    background-color: #3824cc8a;
    font-size: 3vw;
    border-color: #170580;
    margin: 0;
}

.matchBtnDiv {
    display: inline-block
}

button:hover {
    background-color: #aaaaff;
}

.headers {
    float: right;
}

h1 {
    color: #ffffff;
    font-size: 275%;
    padding-left: 1%;
    padding-top: 1%;
    margin: 0%;
}

h2 {
    color: white;
    padding-bottom: 0%;
    padding: 0%;
    margin: 0%;
    font-size: 175%;
}

.submit {
    background-color: #4682aa;
    float: center;
    border: 1px solid black;
    margin: 0 auto;
    color: white;
    padding: 1.5% 2%;
    text-align: center;
    text-decoration: none;
    align-content: center;
    font-size: 150%;
    margin: .5% .25%;
    cursor: pointer;
    position: relative;
}

.message {
    text-align: center;
    margin-top: 1%;
    margin-left: 1%;
}

.clearButton {
    margin-top: 50%;
}

.scheduleButton {
    padding: 7%, 7%;
    display: inline-block;
    background-image: linear-gradient(#3E3E3E);
    transform: scale(.85);
    font-size: 3vw;
}

.menuButtons {
    flex-direction: row;
    resize: both;
    width: 200vh;
}

.grid-container {
    display: grid;
    grid-column-gap: 1vw;
    grid-row-gap: 5vh;
    grid-template-columns: auto auto auto;
    grid-template-rows: 13vh 13vh 13vh 13vh;
    justify-content: space-evenly;
}

input {
    height: 40%;
}

h5 {
    background-image: linear-gradient(to right, #41403B, #5B5A56);
    border-radius: 1em;
    font-size: 4vmin;
    color: white;
    border-color: grey;
    padding: 1.3vh;
    font-weight: bold;
    margin: 0;
}

.superMatchHeader {
    color: white;
    padding: 2vh;
    background-image: linear-gradient(to right, #41403B, #5B5A56);
    border-radius: 2em;
    border-color: black;
    position: relative;
    top: -30vh;
}

.superNotesHeader {
    color: white;
    padding: 2vh;
    background-image: linear-gradient(to right, #41403B, #5B5A56);
    border-radius: 2em;
    position: relative;
    top: -30vh;
    left: -15vw;
}

#superMatch {
    position: relative;
    top: -15vh;
    left: -22.2vw;
}

#superNotes {
    position: relative;
    left: -24vw;
    top: -3vh;
    size: 200%;
}

h6 {
    width: 100%;
    position: relative;
    font-size: 3.8vmin;
    top: -8.75vh;
    color: white;
    background-color: #3E3E3E;
    border-style: outset;
    border-color: grey;
    padding: 1% 2%;
    float: left;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 47px;
    /* Location of the box */
    left: 32vw;
    top: 28vh;
    width: 40%;
    /* Full width */
    height: 25%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(255, 255, 255, .7);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    /* color: ; */
    text-decoration: none;
    cursor: pointer;
}

.modal-text {
    margin-top: 10%;
    margin-bottom: 2%;
}