    /* Set height of body and the document to 100% to enable "full page tabs" */
    
    body,
    html {
        height: 100%;
        margin: 0;
        font-family: Arial;
        overflow-x: hidden;
    }
    /* ----------------------FOR PRE MATCH INFO-----------------------/*

/* Style tab links */
    
    .body {
        position: relative;
    }
    
    .pickupButton {
        background-color: #7722cc;
        border: 1px solid black;
        margin: 0 auto;
        color: white;
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 10%;
    }
    
    .tablink {
        background-color: #555;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 1% 2%;
        font-size: 70%;
        width: 16.66%;
    }
    
    .tablink:hover {
        background-color: grey;
    }
    /* Style the tab content (and add height:100% for full page content) */
    
    .tabcontent {
        color: lightblue;
        display: none;
        padding: 100px 20px;
        height: 100%;
    }
    
    h1 {
        color: white;
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 10%;
        left: 45%;
    }
    
    input[type=radio] {
        border: 0px;
        width: 8%;
        height: 1em;
    }
    
    .robotRadio {
        font-size: 50px;
    }
    
    .container {
        position: absolute;
        width: 50%;
        top: 20%;
        left: 40%;
    }
    /* Make the image responsive */
    
    .container img {
        position: relative;
        width: auto;
        height: auto;
    }
    
    .container .blueTopRight {
        color: blue;
        position: absolute;
        top: 64%;
        left: 0%;
        height: 19%;
        width: 11%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .container .blueTopLeft {
        color: blue;
        position: absolute;
        top: 15%;
        left: 0%;
        height: 19%;
        width: 11%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .container .blueCenter {
        color: blue;
        position: absolute;
        top: 37.4%;
        left: 11%;
        height: 23.5%;
        width: 13%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .container .blueBottomRight {
        color: blue;
        position: absolute;
        top: 64%;
        left: 14%;
        height: 19%;
        width: 11%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .container .blueBottomLeft {
        color: blue;
        position: absolute;
        top: 15%;
        left: 14%;
        height: 19%;
        width: 11%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .container .redTopRight {
        color: blue;
        position: absolute;
        top: 15%;
        left: 47%;
        height: 19%;
        width: 12%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .container .redTopLeft {
        color: blue;
        position: absolute;
        top: 64%;
        left: 47%;
        height: 19%;
        width: 12%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .container .redCenter {
        color: blue;
        position: absolute;
        top: 37.4%;
        left: 32%;
        height: 23.5%;
        width: 13%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .container .redBottomLeft {
        color: blue;
        position: absolute;
        top: 64%;
        left: 34%;
        height: 19%;
        width: 11%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .container .redBottomRight {
        color: blue;
        position: absolute;
        top: 15%;
        left: 34%;
        height: 19%;
        width: 11%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .container .driveCenter {
        color: blue;
    }
    /* ----------------FOR AUTO TAB-------------------- */
    
    #Auto img {
        position: absolute;
        left: 0%;
        top: 9%;
        width: 75%;
        height: 85%;
        align-content: center;
    }
    
    .sliderSpeed {
        -webkit-appearance: none;
        /* Override default CSS styles */
        appearance: none;
        width: 25%;
        /* Full-width */
        height: 15px;
        /* Specified height */
        background: white;
        /* Grey background */
        outline: none;
        /* Remove outline */
        opacity: .7;
        /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s;
        /* 0.2 seconds transition on hover */
        transition: opacity .2s;
        position: absolute;
        top: 95%;
        left: 7%;
    }
    
    .sliderAccuracy {
        -webkit-appearance: none;
        /* Override default CSS styles */
        appearance: none;
        width: 25%;
        /* Full-width */
        height: 15px;
        /* Specified height */
        background: white;
        /* Grey background */
        outline: none;
        /* Remove outline */
        opacity: .7;
        /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s;
        /* 0.2 seconds transition on hover */
        transition: opacity .2s;
        position: absolute;
        top: 95%;
        left: 40%;
    }
    
    .sliderAccuracy::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: #7722cc;
        cursor: pointer;
    }
    
    .sliderSpeed::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: #7722cc;
        cursor: pointer;
    }
    
    h3 {
        color: white;
        font-size: 15px;
        position: absolute;
        top: 93%;
        left: 2%
    }
    
    h2 {
        color: white;
        font-size: 15px;
        position: absolute;
        top: 93%;
        left: 33%;
    }
    
    h5 {
        color: greenyellow;
        font-size: 80px;
        position: absolute;
        top: 50%;
        right: 10%;
    }
    
    .input-number-group {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    .input-number-group input[type=number]::-webkit-inner-spin-button,
    .input-number-group input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
    }
    
    .input-number-group .input-group-button {
        line-height: calc(80px/2 - 5px);
    }
    
    .input-number-group .input-number {
        color: white;
        width: 50px;
        padding: 0 12px;
        text-align: center;
        outline: none;
        display: block;
        margin: 0;
    }
    
    .input-number-group .input-number2 {
        color: white;
        width: 50px;
        padding: 0 12px;
        text-align: center;
        outline: none;
        display: block;
        margin: 0;
    }
    
    .input-number-group .input-number,
    .input-number-group .input-number2,
    .input-number-group .input-number-decrement,
    .input-number-group .input-number-increment {
        border: 1px solid #cacaca;
        height: 25px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 0;
    }
    
    .input-number-group .input-number-decrement,
    .input-number-group .input-number-increment {
        display: inline-block;
        width: 30px;
        background: #e6e6e6;
        color: black;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 400;
    }
    
    .input-number-group .input-number-decrement {
        margin-right: 0.3rem;
    }
    
    .input-number-group .input-number-increment {
        margin-left: 0.3rem;
    }
    
    .counter {
        position: absolute;
        top: 95%;
        left: 80%;
    }
    
    h4 {
        position: absolute;
        top: 91.5%;
        left: 70%;
    }
    
    .rocketLeft {
        position: absolute;
        top: 8.5%;
        left: 29%;
        height: 19%;
        width: 12%;
        opacity: 0;
        color: #7722cc;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .rocketRight {
        position: absolute;
        top: 74.5%;
        left: 29%;
        height: 19%;
        width: 12%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .cargoShipLeft {
        position: absolute;
        top: 35%;
        left: 37.5%;
        height: 10%;
        width: 11%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .cargoShipRight {
        position: absolute;
        top: 57%;
        left: 37.5%;
        height: 10%;
        width: 11%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .cargoShipMid {
        position: absolute;
        top: 40.8%;
        left: 26.3%;
        height: 21%;
        width: 8%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .leftPickup {
        position: absolute;
        top: 8.5%;
        left: 0%;
        height: 25.5%;
        width: 11%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .rightPickup {
        position: absolute;
        top: 68.5%;
        left: 0%;
        height: 25%;
        width: 11%;
        resize: inherit;
        opacity: 0;
        -webkit-appearance: none;
        border-radius: 0;
    }
    
    .autoDropdown:hover,
    .autoDropdown:focus {
        background-color: #7722cc;
    }
    
    .teleopDropdown:hover,
    .teleopDropdown:focus {
        background-color: #7722cc;
    }
    
    .teleopDropdown-content,
    .autoDropdown-content {
        display: none;
        position: relative;
        background-color: #f1f1f1;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        left: 50%;
        width: 30%;
    }
    
    .teleopDropdown-content a,
    .autoDropdown-content a {
        color: black;
        padding: 1% 1%;
        text-decoration: none;
        display: block;
    }
    
    .autoDropdown a:hover {
        background-color: #ddd;
    }
    
    .teleopDropdown a:hover {
        background-color: #ddd;
    }
    
    .show {
        display: block;
    }
    
    #Teleop img {
        position: absolute;
        left: 0%;
        top: 9%;
        width: 75%;
        height: 85%;
        align-content: center;
    }
    
    h6 {
        color: red;
        font-size: 110px;
        position: absolute;
        top: 1%;
        right: 10%;
    }
    
    .nextButton {
        background-color: #7722cc;
        border: 1px solid black;
        margin: 0 auto;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        align-content: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    
    #Auto {
        background-color: black;
        color: white;
    }
    
    #Pre {
        background-color: black;
    }
    
    #Teleop {
        background-color: black;
        color: white;
    }
    
    #Endgame {
        background-color: black;
    }
    
    #Post {
        background-color: black;
    }
    
    .timerText {
        font-size: 200%;
        color: white;
        position: absolute;
        top: 22%;
        left: 19%;
    }
    
    .timerStartButton {
        background-color: #7722cc;
        border: 1px solid black;
        margin: 0 auto;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        align-content: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    
    .timerStopButton {
        background-color: #7722cc;
        border: 1px solid black;
        margin: 0 auto;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        align-content: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    
    .timerResetButton {
        background-color: grey;
        border: 1px solid black;
        margin: 0 auto;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        align-content: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    
    .climbOption {
        font-size: 30px;
        position: absolute;
        top: 12%;
        left: 40%;
    }
    
    .sliderStartPosition {
        position: absolute;
        top: 18%;
        left: 15%;
        -webkit-appearance: slider-vertical;
        /* Override default CSS styles */
        appearance: none;
        width: 15%;
        /* Full-width */
        height: 400px;
        /* Specified height */
        background: white;
        /* Grey background */
        outline: none;
        /* Remove outline */
        opacity: .7;
        /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s;
        /* 0.2 seconds transition on hover */
        transition: opacity .2s;
    }
    
    .sliderStartPosition::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        background: #7722cc;
        cursor: pointer;
    }
    
    .sliderClimb {
        position: absolute;
        top: 18%;
        left: 75%;
        -webkit-appearance: none;
        /* Override default CSS styles */
        appearance: none;
        width: 15%;
        /* Full-width */
        height: 15px;
        /* Specified height */
        background: white;
        /* Grey background */
        outline: none;
        /* Remove outline */
        opacity: .7;
        /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s;
        /* 0.2 seconds transition on hover */
        transition: opacity .2s;
    }
    
    .sliderClimb::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: #7722cc;
        cursor: pointer;
    }
    
    h7 {
        position: absolute;
        top: 15%;
        left: 75%;
    }
    
    h8 {
        position: absolute;
        top: 15%;
        left: 16%;
    }
    
    h9 {
        position: absolute;
        top: 10%;
        left: 20%;
    }