/* Set height of body and the document to 100% to enable "full page tabs" */

body,
html {
    height: 100%;
    margin: 0;
    font-family: Ubuntu;
    overflow-x: auto;
    /* overflow-y: hidden; */
}


/* ----------------------FOR PRE MATCH INFO-----------------------*/

button {
    background-color: #3824cc;
    color: #fff;
    border-radius: 1em;
    font-size: 5vmin;
    text-align: center;
    border: 0%;
}

form {
    color: rgb(204, 204, 204);
}

.switch {
    position: relative;
    display: inline-block;
    width: 20vmin;
    height: 10em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.sliderYellow {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    -webkit-transition: .4s;
    transition: .4s;
}

.sliderYellow:before {
    position: absolute;
    content: "";
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: red;
}

input:checked+.sliderYellow {
    background-color: yellow;
}

input:focus+.slider {
    box-shadow: 0 0 1px black;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* For level check button end*/

.tablink {
    background-color: #3E3E3E;
    border-radius: 0;
    color: white;
    float: left;
    padding: 1% 2%;
    font-size: 3.3vmin;
    width: 20%;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: #3824cc;
    display: none;
    height: 100%;
    max-width: 100%;
    background-size: cover;
    background-size: contain;
    background: url("../images/matchScoutingBackground.jpg") no-repeat;
}

.autoInteraction {
    float: right;
    width: 25%;
    position: relative;
    text-align: center;
}

.teleInteraction {
    float: right;
    width: 25%;
    position: relative;
    text-align: center;
}

h1 {
    color: #3824cc;
    font-size: 10vmin;
    text-align: center;
    position: relative;
    display: inline-block;
}

h2 {
    background-color: #3e3e3e;
    font-size: 4.8vmin;
    position: relative;
    display: inline-block;
    margin: 0%;
    padding: 0.7em;
    color: white;
    border-radius: 1em;
}

.interact {
    background-image: linear-gradient(#3E3E3E);
    color: white;
    float: left;
    border: 1%;
    padding: 9% 0%;
    font-size: 10vmin;
    width: 100%;
}

input[type=radio] {
    border: 0%;
    width: 0.5em;
    height: 0.5em;
    font-size: 100%;
}

.robotRadio {
    font-size: 10vmin;
    width: 50%;
    display: inline-block;
    float: left;
}

.preMatchInfo {
    font-size: 6vmin;
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 5em;
    top: -2em;
}

.postMatchInfo {
    font-size: 8.25em;
    width: 60%;
    display: inline-block;
    position: relative;
    float: left;
}

.container {
    position: absolute;
    width: 50%;
}


/* Make the image responsive */

.container img {
    position: relative;
    width: auto;
    height: auto;
}


/* ----------------FOR AUTO TAB-------------------- */

#Auto img {
    width: 75%;
    height: 85%;
    align-content: center;
}

.autoDropdown:hover,
.autoDropdown:focus {
    background-color: #3824cc;
}

.teleopDropdown:hover,
.teleopDropdown:focus {
    background-color: #3824cc;
}

.teleopDropdown-content,
.autoDropdown-content {
    display: none;
    position: absolute;
    background-color: #3824cc;
    overflow: auto;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.651);
    z-index: 1;
    left: 30%;
    top: 10%;
    width: 30%;
}

.teleopDropdown-content a,
.autoDropdown-content a {
    color: black;
    padding: 5% 5%;
    font-size: 200%;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

#Teleop img {
    position: relative;
    width: 75%;
    height: 85%;
    align-content: center;
}

#Auto {
    background-color: black;
}

#Pre {
    background-color: black;
}

#Teleop {
    background-color: black;
}

#Endgame {
    background-color: black;
}

#Post {
    background-color: black;
}

.nextMatch {
    padding: 1.5%;
    margin-left: 0em;
    font-size: 9em;
}

.cardsInfo {
    font-size: 9em;
    margin-left: 150em;
}

.matchNumber {
    font-size: 3vmin;
    position: relative;
    left: 0;
    padding: 0.7em;
    border-radius: 0.2em;
}

.nameBox {
    font-size: 3vmin;
    height: 2em;
    width: 14em;
    margin-right: 10em;
}