/* Set height of body and the document to 100% to enable "full page tabs" */

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}


/* Style tab links */

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

.tablink:hover {
    background-color: blue;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: lightblue;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

h3 {
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolulte;
    top: 8%;
    left: 45%;
}

input[type=radio] {
    border: 0px;
    width: 2%;
    height: 1em;
}

.robotRadio {
    font-size: 50px;
}

.container {
    position: absolute;
    width: 50%;
    top: 20%;
    left: 40%;
}


/* Make the image responsive */

.container img {
    position: relative;
    width: auto;
    height: auto;
}

.container .blueTopRight {
    color: blue;
    position: absolute;
    top: 64%;
    left: 0%;
    height: 19%;
    width: 11%;
    resize: inherit;
    opacity: 0;
    -webkit-appearance:none;
    border-radius: 0;
}

.container .blueTopLeft {
    color: blue;
    position: absolute;
    top: 15%;
    left: 0%;
    height: 19%;
    width: 11%;
    resize: inherit;
    opacity: 0;
    -webkit-appearance:none;
    border-radius: 0;
}

.container .blueCenter {
    color: blue;
    position: absolute;
    top: 37.4%;
    left: 11%;
    height: 23.5%;
    width: 13%;
    resize: inherit;
    opacity: 0;
    -webkit-appearance:none;
    border-radius: 0;
}

.container .blueBottomRight {
    color: blue;
    position: absolute;
    top: 64%;
    left: 14%;
    height: 19%;
    width: 11%;
    resize: inherit;
    opacity: 0;
    -webkit-appearance:none;
    border-radius: 0;
}

.container .blueBottomLeft {
    color: blue;
    position: absolute;
    top: 15%;
    left: 14%;
    height: 19%;
    width: 11%;
    resize: inherit;
    opacity: 0;   
    -webkit-appearance:none;
    border-radius: 0;
}

.container .redTopRight {
    color: blue;
    position: absolute;
    top: 15%;
    left: 47%;
    height: 19%;
    width: 12%;
    resize: inherit;
    opacity: 0;
    -webkit-appearance:none;
    border-radius: 0;
}

.container .redTopLeft {
    color: blue;
    position: absolute;
    top: 64%;
    left: 47%;
    height: 19%;
    width: 12%;
    resize: inherit;
    opacity: 0;
    -webkit-appearance:none;
    border-radius: 0;
}

.container .redCenter {
    color: blue;
    position: absolute;
    top: 37.4%;
    left: 32%;
    height: 23.5%;
    width: 13%;
    resize: inherit;
    opacity: 0;
    -webkit-appearance:none;
    border-radius: 0;
}

.container .redBottomLeft {
    color: blue;
    position: absolute;
    top: 64%;
    left: 34%;
    height: 19%;
    width: 11%;
    resize: inherit;
    opacity: 0;
    -webkit-appearance:none;
    border-radius: 0;
}

.container .redBottomRight {
    color: blue;
    position: absolute;
    top: 15%;
    left: 34%;
    height: 19%;
    width: 11%;
    resize: inherit;
    opacity: 0;
    -webkit-appearance:none;
    border-radius: 0;
}

#Auto {
    background-color: black;
}

#Pre {
    background-color: black;
}

#Teleop {
    background-color: black;
}

#Endgame {
    background-color: black;
}

#Post {
    background-color: black;
}