body {
    background-color: black;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.buttonBack {
    background-color: #E4DFDA;
    position: absolute;
    top: 0%;
    left: 0%;
}

button {
    background-color: #E4DFDA;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #aaaaff;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header' 'menu main main main right right' 'menu footer footer footer footer footer';
    grid-gap: 2%;
    background-color: #7722cc;
    padding: 2%;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 2% 0;
    font-size: 200%;
}