html {
    background: url("../images/Background.png") center center fixed;
    background-size: cover;
    font-family: Ubuntu;
}

.grid-container {
    background-color: rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: clear;
    padding: 10px;
    opacity: 1;
}

body {
    text-align: top;
    text-align: center;
    opacity: 1;
}

.backBtn {
    background-color: #E45D38;
    top: 0%;
    left: 0%;
    float: left;
}

button {
    background-color: #782656;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #aaaaff;
}

.grid-container>div {
    padding: 10%;
    font-size: 200%;
    color: black;
    overflow-y: auto;
    max-height: 30vh;
    font-family: Ubuntu !important;
}